@use 'breakpoints';
@use 'radius';
@use 'spacing';
@use 'size';
@use 'color';
@use 'typography';

:root {
	/* primitive z-index tokens */
	--z-index_-1: -1;
	--z-index-0: 0;
	--z-index-10: 10;
	--z-index-20: 20;
	--z-index-30: 30;
	--z-index-40: 40;
	--z-index-50: 50;
	--z-index-60: 60;
	--z-index-70: 70;
	--z-index-80: 80;
	--z-index-90: 90;
	--z-index-100: 100;

	/* Semantic tokens */

	--height-header: calc(var(--size-xs) + var(--size-xl));
	--height-navigation: calc(var(--size-md) + var(--spacing-md));
	--height-item-counter: calc(var(--size-md) + var(--size-xs));
	--height-global-message: calc(var(--size-xs) + var(--size-sm));

	--max-content-width: var(--breakpoint-xxl);

	--max-width-form: var(--size-xxxl);
	--max-width-quickorder-form: calc(var(--size-xxxl) * 2);

	--min-width-select: calc(var(--size-lg) + var(--size-xl));

	--padding-header: max(var(--size-xs), calc((100vw - var(--max-content-width)) / 2));
	--padding-button: var(--spacing-sm) var(--spacing-md);
	--padding-input: var(--spacing-sm) var(--spacing-md);
	--padding-card: var(--spacing-md);

	--gap-header: var(--spacing-md);

	--radius-button: var(--radius-md);
	--radius-input: var(--radius-md);
	--radius-card: var(--radius-xl);
	--radius-global-message: var(--radius-md);
	--radius-active-facet: var(--radius-pill);
	--radius-image: var(--radius-md);
	--radius-account-navigation: var(--radius-md);
	--radius-table-header: var(--radius-md);
	--radius-dashboard: var(--radius-md);
	--radius-dashboard-widget: var(--radius-xxl);

	--z-index-header: var(--z-index-80);
	--z-index-modal: var(--z-index-90);
	--z-index-scroll-to-top: var(--z-index-70);
	--z-index-global-message: var(--z-index-100);

	--alpha-modal-backdrop: 0.5;
	--alpha-background-global-message: 0.7;

	--filter-backdrop: saturate(180%) blur(3px) brightness(90%);
}
