@import "cockpitng-globals.scss";
@import "./support/sapcxbackoffice-variables.scss";

/*Icons for explorer tree */
div.yw-explorerTree .y-tree-icon-sapcxtools_treenode_main.y-tree-icon:before {
  font-family: var(--bo-content-icon-font-family);
  content: "\e10c";
  color: var(--bo-content-icon-color);
}

div.yw-explorerTree tr.yw-navigationNode-level1 {
  background-color: var(--bo-tree-color-level1);
}
div.yw-explorerTree tr.yw-navigationNode-level2 {
  background-color: var(--bo-tree-color-level2);
}
div.yw-explorerTree tr.yw-navigationNode-level3 {
  background-color: var(--bo-tree-color-level3);
}
div.yw-explorerTree tr.yw-navigationNode-level4 {
  background-color: var(--bo-tree-color-level4);
}
div.yw-explorerTree tr.yw-navigationNode-level5 {
  background-color: var(--bo-tree-color-level5);
}
div.yw-explorerTree tr.yw-navigationNode-level6 {
  background-color: var(--bo-tree-color-level6);
}
