# IDE & gradle files
build/
consolestorage/
/certificates
/dependencies
/cloud-extension-pack/
.gradle/
.idea/
idea-module-files/
*.iml
com.springsource.sts.config.flow.prefs
org.springframework.ide.eclipse.beans.core.prefs
org.springframework.ide.eclipse.core.prefs
.springBeans
org.sonar.ide.eclipse.core.prefs
HybrisCodeGeneration.launch

# Folders to ignore, whatever the place they are
.DS_Store
.metadata
classes/
testclasses/
eclipsebin/
gensrc/

# Folders to ignore from the root of the repository
core-customize/hybris/roles/
core-customize/hybris/log/
core-customize/hybris/temp/
core-customize/hybris/data/
core-customize/hybris/config/local-config/9[0-9]-local.properties

# only allow sapcxtools extension
core-customize/hybris/bin/modules/
core-customize/hybris/bin/platform/

# Filename patterns to ignore
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
.pmd
*build.number
base.properties

#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
**/lib/addons
**/web/addonsrc
**/_ui-src/addons
**/web/addontestsrc
**/web/commonwebsrc/*/
**/web/webroot/WEB-INF/lib/addon-*
wro_addons.xml

# Backoffice artifacts
*_bof.jar

# Project specific ignores
core-customize/hybris/config/local.properties
core-customize/hybris/config/solr/instances/default/configsets

# developer-specific properties
core-customize/hybris/config/local-config/
core-customize/hybris/config/licence/installedSaplicenses.properties
