cx-item-counter {
	display: inline-flex;
	align-items: center;

	&.readonly {
		button {
			pointer-events: none;
		}
	}

	input {
		appearance: unset;
		border-radius: 0;
		border: 1px solid var(--color-border-subtle);
		border-left: none;
		border-right: none;
		height: var(--height-item-counter);

		&:focus,
		&:active {
			outline: none;
		}
	}

	button {
		height: var(--height-item-counter);
		width: var(--height-item-counter);
		line-height: 0;
		display: grid;
		place-content: center;
		border: 1px solid var(--color-border-subtle);
		background-color: var(--color-background);
		color: var(--color-text-body);

		&:first-of-type {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		&:last-of-type {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}
}
