cx-global-message {
	position: fixed;
	left: var(--spacing-md);
	right: var(--spacing-md);
	bottom: var(--spacing-md);
	z-index: var(--z-index-global-message);

	> div {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-sm);
		width: fit-content;
		max-width: 100%;

		.alert {
			--background-color: var(--color-background-raised);
			--text-color: var(--color-text-body);
			display: grid;
			grid-template-columns: min-content minmax(0, 1fr) min-content;
			grid-auto-flow: column;
			align-items: center;
			justify-content: start;
			gap: var(--spacing-sm);
			padding: var(--spacing-sm) var(--spacing-md);
			border-radius: var(--radius-global-message);
			background-color: var(--background-color);
			backdrop-filter: var(--filter-backdrop);
			color: var(--text-color);
			border: 1px solid var(--text-color);
			flex: 1 1 auto;
			overflow-wrap: anywhere;

			&-success {
				--background-color: var(--color-background-success);
				--text-color: var(--color-text-success);
			}

			&-danger {
				--background-color: var(--color-background-danger);
				--text-color: var(--color-text-danger);
			}

			&-info {
				--background-color: var(--color-background-info);
				--text-color: var(--color-text-info);
			}

			&-warning {
				--background-color: var(--color-background-warning);
				--text-color: var(--color-text-warning);
			}

			button.close {
				--alpha-background-global-message: 1;
				background: var(--text-color);
				font-size: var(--font-size-xxs);
				width: var(--size-xs);
				height: var(--size-xs);
				color: var(--background-color);
				justify-self: end;
			}
		}
	}
}
