cx-product-image-zoom-dialog {
	.modal-dialog {
		.modal-content {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto 1fr;
			height: 100%;

			.modal-body {
				container-type: inline-size;
			}
		}
	}
	cx-product-image-zoom-view {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-sm);

		.cx-main-image-group {
			display: flex;
			justify-content: center;
			align-items: center;

			.cx-zoom-btn {
				display: none;
			}
		}

		cx-product-image-zoom-thumbnails {
			display: none;
		}
	}
}
