cx-tab {
	button.tab-btn {
		border: none;
		width: 100%;
		background-color: transparent;
		border-bottom: 1px solid var(--color-border-strong);
		border-radius: 0;
		color: var(--color-button-secondary-text);
		justify-content: space-between;
		font-weight: bold;
		padding: var(--spacing-xs) 0;
	}
}
