cx-form-errors {
	color: var(--color-text-danger);
	font-size: var(--font-size-xxs);
	margin-top: var(--spacing-xs);
	background-color: var(--color-background-danger);
	padding: var(--spacing-xxs) var(--spacing-sm);
	border-radius: var(--radius-xs);
	border: 1px solid var(--color-danger);
}
