:root {
  --bo-tree-color-level1: #FFFFFF;
  --bo-tree-color-level2: #F3F9FF;
  --bo-tree-color-level3: #EDF6FF;
  --bo-tree-color-level4: #E8F3FF;
  --bo-tree-color-level5: #E2F0FF;
  --bo-tree-color-level6: #DCEDFF;
}